PyYAML==6.0.1
SQLAlchemy==2.0.30
aiofiles==23.2.1
aiohttp-retry==2.8.3
aiohttp==3.9.5
aioredis==2.0.1
alembic-postgresql-enum==1.2.0
alembic==1.13.1
asyncpg==0.29.0
dramatiq[rabbitmq, watch]==1.17.0
email-validator>=2.0
# Can be updated only after migration to SQLAlchemy > 2.0
# these 2 requirements are for fastapi-sqla
fastapi-sqla==3.1.2
structlog==24.1.0
fastapi-users-db-sqlalchemy==6.0.1
fastapi-users[all]==13.0.0
fastapi==0.111.0
feedgen==1.0.0
httpx-oauth==0.14.1
jinja2==3.1.4
jmespath==1.0.1
lxml==5.2.2
markdown==3.6
pgpy==0.6.0
plumbum==1.8.3
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
pydantic==2.7.2
python-multipart>=0.0.7
sentry-sdk[fastapi]==2.2.1  # requires FastAPI>=0.79.0
syncer==2.0.3
tap.py==3.1
uvicorn==0.29.0
websockets==12.0
git+https://github.com/AlmaLinux/immudb-wrapper.git@0.1.2#egg=immudb_wrapper
git+https://github.com/AlmaLinux/errata2osv.git@0.0.3#egg=errata2osv
git+https://github.com/AlmaLinux/albs-github-integration.git@0.4.1#egg=albs_github
