fastapi==0.109.1
fastapi-users[all]==10.4.1
fastapi-users-db-sqlalchemy==4.0.5
uvicorn==0.27.1
asyncpg==0.28.0
psycopg2-binary==2.9.6
pydantic==2.4.2
pydantic-settings==2.0.3
SQLAlchemy==1.4.46
aiohttp==3.8.6
aiohttp-retry==2.8.3
aiofiles==23.1.0
aioredis==2.0.1
alembic==1.11.1
pytest==7.3.1
pytest-cov==4.1.0
jmespath==1.0.1
PyYAML==6.0
lxml==4.9.2
syncer==1.3.0
dramatiq[rabbitmq, watch]==1.14.2
python-multipart==0.0.6
plumbum==1.8.1
tap.py==3.1
jinja2==3.1.2
pgpy==0.6.0
markdown==3.4.3
httpx-oauth==0.11.2
feedgen==0.9.0
websockets==12.0
sentry-sdk[fastapi]==1.28.1  # requires FastAPI>=0.79.0
git+https://github.com/AlmaLinux/immudb-wrapper.git@0.1.2#egg=immudb_wrapper
git+https://github.com/AlmaLinux/errata2osv.git@0.0.3#egg=errata2osv
git+https://github.com/AlmaLinux/albs-github-integration.git@0.1.0#egg=albs_github
