PyYAML==6.0.2
SQLAlchemy==2.0.36
aiofiles==24.1.0
aiohttp-retry==2.9.1
aiohttp==3.11.9
aioredis==2.0.1
alembic-postgresql-enum==1.4.0
alembic==1.14.0
asyncpg==0.30.0
dramatiq[rabbitmq, watch]==1.17.1
email-validator>=2.0
# Can be updated only after migration to SQLAlchemy > 2.0
# these 2 requirements are for fastapi-sqla
fastapi-sqla==3.4.6
structlog==24.4.0
fastapi-limiter==0.1.6
fastapi-users-db-sqlalchemy==6.0.1
fastapi-users[all]==14.0.0
fastapi==0.115.6
feedgen==1.0.0
httpx-oauth==0.15.1
jinja2==3.1.4
jmespath==1.0.1
lxml==5.3.0
markdown==3.7
pgpy==0.6.0
plumbum==1.9.0
psycopg2-binary==2.9.10
pydantic-settings==2.6.1
pydantic==2.10.3
python-multipart>=0.0.7
sentry-sdk[fastapi]==2.20.0  # requires FastAPI>=0.79.0
syncer==2.0.3
tap.py==3.1
uvicorn==0.32.1
websockets==14.1
git+https://github.com/AlmaLinux/immudb-wrapper.git@0.1.2#egg=immudb_wrapper
git+https://github.com/AlmaLinux/errata2osv.git@0.0.4#egg=errata2osv
git+https://github.com/AlmaLinux/albs-github-integration.git@0.4.1#egg=albs_github
